body {
	background-image: url(/res/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.container {
	max-width: 800px;
}

#logo {
	height: 60px;
	float: left;
}

#account {
	float: right;
}

.cuadro {
	border-radius: 4px;
	border: 1px solid #5bc0de;
	padding: 10px;
	background-color: white;
	margin-bottom: 10px;
}

.outside {
	color: white;
}

.clearman {
	clear: both;
}

.error {
	color: #FF0000;
}

.margintop {
	margin-top: 5px;
}